<footer>
    <div class="powered ms-2">
        <h6><a href="https://www.linkedin.com/in/bertocchi-felipe-ariel/" target="_blank">Felipe Bertocchi</a> &copy; 2021</h6>
    </div>
    <div class="links">
        <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a class="instagram" href="https://www.instagram.com" target="_blank"><i
                        class="fa fa-instagram"></i></a></li>
            <li><a class="twitter" href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
</footer>